# Node modules
node_modules/

# Build output
#build/

# Cache folders
.cache/
node_modules/.cache/

# Environment variables
.env
.env.local

# Logs
*.log

# IDE specific
.idea/
.vscode/

# macOS specific
.DS_Store