@import "./../../global.scss";
.navbar{ 
    width: 100%;
    background-color: white;
    color: $mainColor;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 3;
    overflow: hidden;
    transition: all 1s ease;
    
    .wrapper{
        padding: 1rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left{
            display: flex;

            .logo{
                font-size: 2rem;
                font-weight: 700;
                text-decoration: none;
                color: inherit;
                margin-right: 1rem;
            }
            .itemContainer{
                text-decoration: none;
                color: inherit;
                display: flex;
                align-items: center;
                gap: 1rem;
                .contactContainer{
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    .icon{
                        font-size: 1rem;
                        margin-right: 0.25rem;
                    }
                    span{
                        font-size: 1rem;
                        font-weight: 400;
                    }
                }
            }
        }
        .right{
            .hamburger{
                width: 2rem;;
                height: 1.5rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer ;

                span{
                    width: 100%;
                    height: 1px;
                    background-color: $mainColor;
                    //Allows lines to be rotated
                    transform-origin: left;
                    transition: all 1s ease;
                }
            }
        }
    }

    &.active{
        background-color: $mainColor;
        color: white;

        .hamburger{
            //Removes 2nd line and makes a cross using First&Last lINE
            span{
                &:first-child{
                    background-color: white;
                    transform: rotate(45deg);
                    
                }
                &:nth-child(2){
                    opacity: 0;
                }
                &:last-child{
                    background-color: white;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}