@import "../../global.scss";

.intro{
    
    display: flex;
    height: 100%;

    @include mobile{
        flex-direction: column;
        align-items: center;
    }
    
    .left{
        flex:0.5;
        
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        

        .imgContainer{
            height: 500px;
            width: 500px;
            background-color: crimson;
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;

            @include mobile{
                
                height: 400px;
                width: 400px;
            }
            
            img{
                
                width: 80%;
                @include mobile{
                    
                }
            }
        }
    }
    .right{
        flex: 0.5;
        //Parent of absolute item should be relative
        position: relative;
        
        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile{
                padding-left: 0;
                align-items: center;
            }

            h2{
                font-size: 3rem;
                @include mobile{
                    font-size: 2rem;
                }

            }
            h1{
                font-size: 3rem;
                margin: 1rem 0;

                @include mobile{
                    font-size: 2rem;
                }

            }
            h3{
                font-size: 2rem;
                @include mobile{
                    font-size: 1.5rem;
                }
                span{
                    font-size: inherit;
                    color: crimson;
                }

                .ityped-cursor {
                    animation: blink 1s infinite;
                }
                @keyframes blink {
                    50%{
                        opacity: 1;
                    }
                    //Blinks at end of animation
                    100%{
                        opacity: 0;
                    }
                    
                }
            }
        }
        a{
            position: absolute;
            bottom: 1rem;
            left: 45%;
            img{
                width: 2rem;
                animation: arrowBlink 2s infinite;
            }

            @keyframes arrowBlink {
                100%{
                    opacity: 0;
                }
            }
        }
        
    }

}