.work{
    height: 100vh;
    

    .specificSection{
        width: 100%;
//-Height of navbar to stop overflow
        scroll-behavior: smooth;
        padding: 1rem;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;//firefox
        display: flex;
        
        &::-webkit-scrollbar{
            display: none;
        }
        .left{
            flex: 0.75;
            position: relative;
            top: 70px;
            
            height: calc(100vh - 70px);
            margin: 0 1rem;

            .header{
                margin-bottom: 1rem;
                display: flex;
                
                gap: 1rem;
                justify-content: space-between;
                
                .appIntro{
                    
                }
            }
            .techContainer{
                h2{
                    
                }
                .techStack{
                    display: flex;
                    gap: 1rem;
                    svg{
                        color: black;
                        font-size: 3rem;
                        
                    }
                }
            }
            
            .technicalDetails{
                margin-bottom: 1rem;
                display: flex;
                flex-direction: column;
                
                h2{
                    font-size: 2rem;
                    text-align: center;
                }
                p{
                    font-size: 1.25rem;

                }
            }

            .retrospectiveContainer{
                display: flex;
                gap: 1rem;
                

                .purposeContainer{
                    width: 700px;
                    background-color: red;
                    h2{
                        font-size: 2rem;
                        
                    }
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 0.25rem;
                    font-size: 1.25rem;
                }
            }

            
            .appInteract{
                display: flex;
                justify-content: center;
                margin-top: 1rem;
            button{
                border: none;
                padding: 1rem;
                font-size: 1rem;
                background-color: white;
                border: 1px solid lightgray;
                border-radius: 1rem;
                cursor: pointer;
                
            }
            margin-bottom: 1rem;
            }
            .examples{
                .exampleImage{
                    width: 100%;
                    img{
                        
                    }
                }
            }
        }
        .right{
            position: relative;
            top: 70px;
            margin-right: 1rem;
            height: calc(100vh - 70px);
            background-color: red;
            flex: 0.25;
        }

       


        
    }
}